<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>My favorite subject</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
  <main class="main">
    <section class="chat",id="chat">
      <div class="chat-header">
        <img src="{{url_for('static',filename='logo.png')}}" alt="Logo">
        <h3>My Favorite Subject</h3>
      </div>
      <div class="chat-box" id="chatBox">
        <p class="message_bot">Olá! Sou seu assistente para como posso te ajudar?</p>
      </div>
      <div class="input-area">
        <input type="text" id="input" placeholder="Digite seu prompt">
        <button id="send">Enviar</button>
      </div>
    </section>
  </main>

  <script src="script.js"></script>
</body>

</html>